.photo-block {
  position: relative;
  overflow: hidden;

  width: 40vw;
  aspect-ratio: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:nth-child(2) {
    margin-left: auto;
    margin-top: 80px;
  }
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

.col {
  position: absolute;
  top: 0;
  bottom: 0;
}

.col__bg {
  width: 100%;
  height: 100%;
  background: #fff; /* hoặc màu overlay */
}

.animation-image {
  padding: 80px;
}
