.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1vw;
  color: var(--color-light);
  overflow: visible;

  .bg-video {
    position: absolute;
    inset: 0;
    z-index: 1;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

a {
  color: inherit;
  //   text-decoration: underline;
}

p {
  margin: 0px;
}

.page {
  z-index: 3;
  inset: var(--gap);
  position: absolute;
}

.main {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.main-col {
  width: 50%;
  height: 100%;
}

.main-img__list {
  width: 16em;
  height: 22em;
  position: relative;
}

.main-img__item {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.image {
  object-fit: cover;
  // border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.main-title__list {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.main-title__item {
  justify-content: flex-start;
  align-items: center;
  height: 1.25em;
  font-size: 4.5em;
  transition: opacity 0.2s;
  display: flex;
  position: relative;
}

.main-title {
  letter-spacing: -0.03em;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

.main-title__list:hover:has(.main-title__item:hover)
  .main-title__item:not(:hover) {
  opacity: 0.45;
}

.main-title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -0.3em;
  width: 0.75em;
  height: 0.15em;
  border-radius: 100em;
  background: currentColor;
  opacity: 0;
  transition: all 0.525s var(--cubic-default);
  transform: translate(100%, 0%) scale(0);
}

.main-title__item:hover .main-title::after {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  width: 0.15em;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
}

.button.text {
  transition: opacity 0.2s;
}

.button.text:hover {
  opacity: 0.7;
}

.overlay-wrap {
  z-index: 2;
  pointer-events: none;
  padding-top: calc(var(--gap) * 3);
  position: absolute;
  inset: 0%;
}

.overlay-item {
  z-index: 1;
  pointer-events: auto;
  padding-bottom: 16em;
  display: none;
  position: relative;
}

.overlay-item.active {
  display: block;
}

.overlay-hero {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7.5em;
  display: flex;
}

.overlay-title__wrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9em;
  display: flex;
  position: relative;
}

.overlay-title__wrap .main-title {
  position: absolute;
  font-size: 9em;
}

.overlay-img__wrap {
  width: 42em;
  height: 64em;
}

.overlay-row {
  justify-content: space-between;
  align-items: center;
  padding-left: 6em;
  display: flex;
}

.overlay-col {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  display: flex;
}

.overlay-col.col-left {
  max-width: 26em;
  transform: translate(0, 50%);
}

.overlay-col.col-right {
  max-width: 35em;
}

.overlay-col__img {
  height: 26em;
}

.paragraph {
  text-indent: 4em;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.25;
}

.overlay-nav {
  z-index: 2;
  pointer-events: auto;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
  overflow: hidden;
  color: inherit;
}

.text-reg {
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.25;
  color: #fff;
}

.button.text {
  color: inherit;
}

.osmo-credits {
  z-index: 999;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 4em;
  padding: 1em 2em;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}

.osmo-credits__p {
  pointer-events: auto;
  color: #efeeec80;
  text-align: center;
  margin: 0;
  font-family: PP Neue Montreal, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.osmo-credits__p-a {
  color: #efeeec;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
