:root {
  --ease: cubic-bezier(0.22, 1, 0.36, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.section-solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}
.section-solutions .solutions-bg {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section-solutions .solutions-bg .bg-item {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s var(--ease);
}
.section-solutions .solutions-bg .bg-item.active {
  opacity: 1;
}
.section-solutions .solutions-bg .bg-item.active img {
  transform: scale(1);
}
.section-solutions .solutions-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 1.6s var(--ease);
}
.section-solutions .solutions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.section-solutions .solutions-list .item {
  margin: 0 10px;
  width: 20%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.25);
  will-change: transform;
  transform: translateZ(0px);
  backdrop-filter: blur(20px);
  overflow: hidden;
  contain: layout paint;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background, width, height, backdrop-filter;
  font-weight: 400;
}
.section-solutions .solutions-list .item.active {
  width: 25%;
  backdrop-filter: none;
  background: #fffdf5;
}
.section-solutions .solutions-list .item.active .item-title,
.section-solutions .solutions-list .item.active .item-desc {
  opacity: 1;
}
.section-solutions .solutions-list .item.active .item-link__text {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.6s var(--ease) 0.14s;
}
.section-solutions .solutions-list .item.active .item-link__icon {
  transform: translate(0);
  opacity: 1;
}
.section-solutions .solutions-list .item.active .item-title-single {
  opacity: 0;
}
.section-solutions .solutions-list .item.active .border {
  transform: scaleX(1);
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}
.section-solutions .solutions-list .item-title {
  font-size: 30px;
  line-height: 1.2;
  opacity: 0;
}
.section-solutions .solutions-list .item-title-single {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  width: max-content;
  max-width: 100%;
}
.section-solutions .solutions-list .item-desc {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  opacity: 0;
}
.section-solutions .solutions-list .item-link {
  padding-top: 10px;
}
.section-solutions .solutions-list .item-link:hover .arrow:first-child {
  transform: none;
  opacity: 1;
}
.section-solutions .solutions-list .item-link:hover .arrow:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__text {
  transform: translateY(101%);
  opacity: 0;
  transition: transform 0.4s var(--ease) 0s;
}
.section-solutions .solutions-list .item-link__icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: all 0.4s var(--ease) 0s;
  transform: translateX(-100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__icon .arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.section-solutions .solutions-list .item-link__icon .arrow:first-child {
  transform: translateX(-100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__icon .arrow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-solutions .solutions-list .item .border {
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.1s var(--ease) 0s;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: auto;
}