@charset "UTF-8";
:root {
  --ease: cubic-bezier(0.22, 1, 0.36, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px solid #000;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.section-solutions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  position: relative;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
}
.section-solutions .solutions-bg {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.section-solutions .solutions-bg .bg-item {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.6s var(--ease);
}
.section-solutions .solutions-bg .bg-item.active {
  opacity: 1;
}
.section-solutions .solutions-bg .bg-item.active img {
  transform: scale(1);
}
.section-solutions .solutions-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 1.6s var(--ease);
}
.section-solutions .solutions-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.section-solutions .solutions-list .item {
  margin: 0 10px;
  width: 20%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 16px;
  background: rgba(255, 255, 255, 0.25);
  will-change: transform;
  transform: translateZ(0px);
  backdrop-filter: blur(20px);
  overflow: hidden;
  contain: layout paint;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background, width, height, backdrop-filter;
  font-weight: 400;
}
.section-solutions .solutions-list .item.active {
  width: 25%;
  backdrop-filter: none;
  background: #fffdf5;
}
.section-solutions .solutions-list .item.active .item-title,
.section-solutions .solutions-list .item.active .item-desc {
  opacity: 1;
}
.section-solutions .solutions-list .item.active .item-link__text {
  transform: translateY(0px);
  opacity: 1;
  transition: all 0.6s var(--ease) 0.14s;
}
.section-solutions .solutions-list .item.active .item-link__icon {
  transform: translate(0);
  opacity: 1;
}
.section-solutions .solutions-list .item.active .item-title-single {
  opacity: 0;
}
.section-solutions .solutions-list .item.active .border {
  transform: scaleX(1);
  transition-duration: 0.8s;
  transition-delay: 0.1s;
}
.section-solutions .solutions-list .item-title {
  font-size: 30px;
  line-height: 1.2;
  opacity: 0;
}
.section-solutions .solutions-list .item-title-single {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  font-size: 22px;
  line-height: 1.2;
  color: #fff;
  width: max-content;
  max-width: 100%;
}
.section-solutions .solutions-list .item-desc {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  opacity: 0;
}
.section-solutions .solutions-list .item-link {
  padding-top: 10px;
}
.section-solutions .solutions-list .item-link:hover .arrow:first-child {
  transform: none;
  opacity: 1;
}
.section-solutions .solutions-list .item-link:hover .arrow:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__text {
  transform: translateY(101%);
  opacity: 0;
  transition: transform 0.4s var(--ease) 0s;
}
.section-solutions .solutions-list .item-link__icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  transition: all 0.4s var(--ease) 0s;
  transform: translateX(-100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__icon .arrow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.section-solutions .solutions-list .item-link__icon .arrow:first-child {
  transform: translateX(-100%);
  opacity: 0;
}
.section-solutions .solutions-list .item-link__icon .arrow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-solutions .solutions-list .item .border {
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.1s var(--ease) 0s;
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-top: auto;
}

.photo-block {
  position: relative;
  overflow: hidden;
  width: 40vw;
  aspect-ratio: 1;
}
.photo-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photo-block:nth-child(2) {
  margin-left: auto;
  margin-top: 80px;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
}

.col {
  position: absolute;
  top: 0;
  bottom: 0;
}

.col__bg {
  width: 100%;
  height: 100%;
  background: #fff; /* hoặc màu overlay */
}

.animation-image {
  padding: 80px;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
  font-size: 1vw;
  color: var(--color-light);
  overflow: visible;
}
.cloneable .bg-video {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.cloneable .bg-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
}

p {
  margin: 0px;
}

.page {
  z-index: 3;
  inset: var(--gap);
  position: absolute;
}

.main {
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
}

.main-col {
  width: 50%;
  height: 100%;
}

.main-img__list {
  width: 16em;
  height: 22em;
  position: relative;
}

.main-img__item {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-title__list {
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
}

.main-title__item {
  justify-content: flex-start;
  align-items: center;
  height: 1.25em;
  font-size: 4.5em;
  transition: opacity 0.2s;
  display: flex;
  position: relative;
}

.main-title {
  letter-spacing: -0.03em;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
}

.main-title__list:hover:has(.main-title__item:hover) .main-title__item:not(:hover) {
  opacity: 0.45;
}

.main-title::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -0.3em;
  width: 0.75em;
  height: 0.15em;
  border-radius: 100em;
  background: currentColor;
  opacity: 0;
  transition: all 0.525s var(--cubic-default);
  transform: translate(100%, 0%) scale(0);
}

.main-title__item:hover .main-title::after {
  transform: translate(0%, 0%) scale(1);
  opacity: 1;
  width: 0.15em;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: inherit;
}

.button.text {
  transition: opacity 0.2s;
}

.button.text:hover {
  opacity: 0.7;
}

.overlay-wrap {
  z-index: 2;
  pointer-events: none;
  padding-top: calc(var(--gap) * 3);
  position: absolute;
  inset: 0%;
}

.overlay-item {
  z-index: 1;
  pointer-events: auto;
  padding-bottom: 16em;
  display: none;
  position: relative;
}

.overlay-item.active {
  display: block;
}

.overlay-hero {
  grid-column-gap: 5em;
  grid-row-gap: 5em;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 7.5em;
  display: flex;
}

.overlay-title__wrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 9em;
  display: flex;
  position: relative;
}

.overlay-title__wrap .main-title {
  position: absolute;
  font-size: 9em;
}

.overlay-img__wrap {
  width: 42em;
  height: 64em;
}

.overlay-row {
  justify-content: space-between;
  align-items: center;
  padding-left: 6em;
  display: flex;
}

.overlay-col {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  flex-flow: column;
  display: flex;
}

.overlay-col.col-left {
  max-width: 26em;
  transform: translate(0, 50%);
}

.overlay-col.col-right {
  max-width: 35em;
}

.overlay-col__img {
  height: 26em;
}

.paragraph {
  text-indent: 4em;
  margin-bottom: 0;
  font-size: 1.25em;
  line-height: 1.25;
}

.overlay-nav {
  z-index: 2;
  pointer-events: auto;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
  position: absolute;
  inset: auto 0% 0%;
  overflow: hidden;
  color: inherit;
}

.text-reg {
  margin-bottom: 0;
  font-size: 1.125em;
  line-height: 1.25;
  color: #fff;
}

.button.text {
  color: inherit;
}

.osmo-credits {
  z-index: 999;
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 4em;
  padding: 1em 2em;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
}

.osmo-credits__p {
  pointer-events: auto;
  color: rgba(239, 238, 236, 0.5019607843);
  text-align: center;
  margin: 0;
  font-family: PP Neue Montreal, Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 1.3;
}

.osmo-credits__p-a {
  color: #efeeec;
}

@font-face {
  font-family: "PP Neue Montreal";
  src: url("https://cdn.prod.website-files.com/6819ed8312518f61b84824df/6819ed8312518f61b84825ba_PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}